/* Izmantojamās krāsas:

Main colors:
    Ļoti gaiši dzeltens (contrast dzeltenajiem)
    Hex: #fbe7b5

    Gaiši dzeltens
    Hex: #ecd495

    Tumši dzeltens
    Hex: #a3754d

    Ļoti tumši dzltens
    Hex: #865c37

Ja liec black or white tad:
Black = rgb(40, 40, 40)
White = rgb(215, 215, 215)
*/

body{
    margin: 0;
    padding: 0;
    font-family: MouldyCheese;
    background-image: url('Images/background.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y:-200px;
}

/* Font */

@font-face { font-family: MouldyCheese; src: url('Fonts/MouldyCheeseRegular-WyMWG.ttf'); } 
@font-face { font-family: MouldyCheese; font-weight: bold; src: url('Fonts/MouldyCheeseRegular-WyMWG.ttf');}

#logo{
    display: block;
    max-width: 40%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#sections{
    background-color: #a3754d;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px #ecd495;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 40px;
    padding-top: 10px;
    width: 40%;
    height: 550px;
}

.section{
    padding: 10px;
}

#main {
    padding-top: 60px;
}

/* Menu */

#dailyGameButton{
    color: #865c37;
    background-color: #ecd495;
    box-shadow: 0px 0px 10px 5px #865c37;
    font-size:50px;
    font-family: inherit;
    border-radius: 20px;
    border: none;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    height: 80px;
    width: 70%;

    transition: transform 0.2s ease;
}
#dailyGameButton:Hover{
    transform: scale(1.05);
    cursor: pointer;
}

#practiceGameButton{
    color: #865c37;
    background-color: #ecd495;
    box-shadow: 0px 0px 10px 5px #865c37;
    font-size:50px;
    font-family: inherit;
    border-radius: 20px;
    border: none; 

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    height: 80px;
    width: 400px;

    transition: transform 0.2s ease;
}
#practiceGameButton:Hover{
    transform: scale(1.05);
    cursor: pointer;
}

#creditsGameButton{
    color: #865c37;
    background-color: #ecd495;
    box-shadow: 0px 0px 10px 5px #865c37;
    font-size:50px;
    font-family: inherit;
    border-radius: 20px;
    border: none; 

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    height: 80px;
    width: 400px;

    transition: transform 0.2s ease;
}
#creditsGameButton:Hover{
    transform: scale(1.05);
    cursor: pointer;
}

/* Game */

#game {
    display: block;
}

#countryTitle {
    color: #fbe7b5;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    text-align: center;
}

#backButton{
    display: block;
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: -10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #865c37;
    background-color: #ecd495;
    border: none;
    transition: transform 0.2s ease-in-out;
}

#backButton:hover{
    background-color: #ecd495;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px #865c37;
    transform: scale(110%)
}

#backArrowImg{
    margin-left: 2px;
}

/* PLEASE DON'T TOUCH (MAN NAV NE JAUSMAS KĀ ŠIS STRĀDĀ, BET VIŅŠ STRĀDĀ)*/
#countryImage {
    /* Only change --gap-size AND --outline-dirrection */
    --outline-direction: 45deg;
    --gap-size: 20%;
    
    --visibility: 5%; /* DONT TOUCH THIS VALUE*/
    mask-image: 
        repeating-linear-gradient(
            var(--outline-direction), 
            black 0, 
            black var(--visibility), 
            transparent var(--visibility), 
            transparent calc(var(--visibility) + var(--gap-size))
        ),
        repeating-linear-gradient(
            var(--outline-direction), 
            transparent calc(var(--visibility) + var(--gap-size)), 
            transparent calc(var(--visibility) + 2 * var(--gap-size)), 
            black calc(var(--visibility) + 2 * var(--gap-size)), 
            black calc(2 * var(--visibility) + 2 * var(--gap-size))
        );
    -webkit-mask-image: 
        repeating-linear-gradient(
            var(--outline-direction), 
            black 0, 
            black var(--visibility), 
            transparent var(--visibility), 
            transparent calc(var(--visibility) + var(--gap-size))
        ),
        repeating-linear-gradient(
            var(--outline-direction), 
            transparent calc(var(--visibility) + var(--gap-size)), 
            transparent calc(var(--visibility) + 2 * var(--gap-size)), 
            black calc(var(--visibility) + 2 * var(--gap-size)), 
            black calc(2 * var(--visibility) + 2 * var(--gap-size))
        );
    mask-mode: alpha;
    -webkit-mask-mode: alpha;

    filter: invert(100%) grayscale(100%) contrast(500%);
    mix-blend-mode: screen;

    filter: drop-shadow(2px 2px 0 #fbe7b5) 
            drop-shadow(2px -1px 0 #fbe7b5) 
            drop-shadow(-1px 2px 0 #fbe7b5)
            drop-shadow(-1px -1px 0 #fbe7b5);

    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
    pointer-events: none;
}

#input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}

#countryInput{
    display: block;
    margin-right: 5%;
    width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #865c37;
    background-color: #ecd495;
    color: #865c37;
    font-family: inherit;
    font-size: 35px;
    text-align: center;
    border: none;
}

#countryInput:focus{
    border: none;
}

#submitButton{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #865c37;
    background-color: #ecd495;
    border: none;
    transition: transform 0.2s ease-in-out;
}

#submitButton:hover{
    background-color: #ecd495;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px #865c37;
    transform: scale(110%)
}

/* Practice */

#practiceTitle{
    color: #fbe7b5;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    margin-bottom: 60px;
    text-align: center;
}

.practiceButton{
    display: block;
    text-align: center;
    margin-block: 15px;
    margin-left: auto;
    margin-right: auto;
    color: #865c37;
    background-color: #ecd495;
    box-shadow: 0px 0px 10px 5px #865c37;
    font-size:40px;
    font-family: inherit;
    border-radius: 20px;
    height: 60px;
    width: 40%;
    padding-inline: 10px;
    border: none;
    transition: transform 0.2s ease;
}

.practiceButton:hover{
    transform: scale(105%);
    cursor: pointer;
}


/* Credits */

#creditsTitle{
    color: #fbe7b5;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    text-align: center;
}

#creditsTitle2{
    color: #fbe7b5;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    text-align: center;
}

#creditsContainer{
    display: flex;
    width: 70%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    align-items: center;
    justify-content: space-around;
}

.creditsUser{
    display: block;
}

#creditsImage{
    height: 150px;
    border-radius: 75px;
    border: 1px solid #fbe7b5;
    box-shadow: 0px 0px 10px 5px #865c37;
    pointer-events: none;
}

.creditsDescription{
    text-align: center;
    color: #fbe7b5;
    font-size: 25px;
    transition: transform .2s;
    text-decoration: none;
}

.creditsDescription:hover{
    cursor: pointer;
    transform: scale(110%);
}



/* Footer */

#rights{
    text-align: center;
    color: #fbe7b5;
    margin-top: 25px;
}

#rightsLink{
    text-decoration: none;
    color: #fbe7b5;
}

#rightsLink:hover{
    color: #ecd495;
}
