/* Izmantojamās krāsas:

Secondary colors:
    Tumši zaļš
    Hex: #8E8B6B

    Gaiši zaļš (contrasts zaļajiem)
    Hex: #A6AA8A

Main colors:
    Ļoti gaiši dzeltens (contrast dzeltenajiem)
    Hex: #ECD495

    Tumši dzeltens
    Hex: #936B47

Ja liec black or white tad:
Black = rgb(40, 40, 40)
White = rgb(215, 215, 215)
*/

body{
    margin: 0;
    padding: 0;
    font-family: MouldyCheese;
    background-image: url('Images/background.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y:-200px;
    display: block;
}

/* Font */

@font-face { font-family: MouldyCheese; src: url('Fonts/MouldyCheeseRegular-WyMWG.ttf'); } 
@font-face { font-family: MouldyCheese; font-weight: bold; src: url('Fonts/MouldyCheeseRegular-WyMWG.ttf');}

h1{
    text-align: center;
    font-size: 100px;
    /* text-shadow: 1px 5px 2px rgb(40, 40, 40); */
    color: #ECD495;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #936B47;
}

img{
    filter: blur(2px);
    width: 100%;
}

#test{
    background-color: #936B47;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px #ECD495;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 600px;
}